<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css" type="text/css">
    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="responsive.css" type="text/css">
</head>
<body>
    
    <div class="menu">
        <a class="logo" href="#"><img src="images/logo.png"><span id="logo" class="textlogo">Logo <br><small>golf club</small> </span> </a>
        <div class="sidebar"><i class="fa fa-bars" aria-hidden="true"></i></div>
        <ul class="menulist">
            <li class="menuitem"><a href="#">Home</a></li>
            <li class="menuitem"><a href="#about">About</a></li>
            <li class="menuitem"><a href="#membership">MemberShip</a></li>
            <li class="menuitem"><a href="#events">Events</a></li>
            <li class="menuitem"><a href="#contact">Contact Us</a></li>
            <li class="menuitem"><a id="menubutton" href="#">Membership Login</a></li>
        </ul>
        
    </div>
    
  
    <section class="Home" id="box">
        <svg class="top-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>
        <div class="home-content">
            <div class="hero">
                <div class="heroheading1">Welcome to the club</div>
                <div class="heroheading1">Tiya is Lifestyle</div>
                <div class="heroheading2">
                    <button id="homebtn" type="button">our story</button>
                    <span >become a member</span>
                </div>
            </div>
            <iframe class="yt"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
          
        </div>
        <svg class="bottom=wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
    </section>
    <section class="about" id="about">
        <div class="abt-heading">About Tiya</div>
        <div class="abt" >
            <div class="abt1">
                <h4>Tiya Club History</h4>
                <p><b>Since 1984</b>, Tiya is ranked #8 in the top 10 golf courses in the world. Tiya is Bootstrap 5 HTML CSS template for golf clubs. Anyone can modify and use this layout for commercial purposes.</p>
                <p>Tiya Golf Club is 100% free CSS template provided by TemplateMo website. Please tell your friends about our website. Thank you for visiting.</p>
            </div>
            <div class="abt2">
                <div><img class="abtimg1" src="images/person1.jpg">
        
                   <div class="mem1">
                     <span class="name">Micky</span>
                     <span class="role">Founder</span>
                    </div>
                </div>
                <div><img class="abtimg2" src="images/person2.jpg">
                    <div class="mem2">
                        <span class="name">Elizhabeth</span>
                        <span class="role">CO Founder</span>
                    </div>
            </div>
        
        </div>
    </div>
    </section>
    <!-- <div class="upwve">
        <img src="images/wave-haikei top.svg" alt="">
    </div> -->
    <section class="subscribe">
        <!-- <div class="dwnwv">
            <img src="images/wave-haikei (1).svg" alt="">
        </div> -->
        <svg class="abt-up-wave" viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>
        <div class="sub-row">
            <div class="sub-inside">
                <h3>Get our newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore.</p>
                <form class="input" method="get">
                    <!-- <label><img src="images/material-symbols--mail-outline.svg" ></label> -->
                     <span class="iconify-mail"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxLjVlbSIgaGVpZ2h0PSIxLjVlbSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00IDIwcS0uODI1IDAtMS40MTItLjU4N1QyIDE4VjZxMC0uODI1LjU4OC0xLjQxMlQ0IDRoMTZxLjgyNSAwIDEuNDEzLjU4OFQyMiA2djEycTAgLjgyNS0uNTg3IDEuNDEzVDIwIDIwem04LTdMNCA4djEwaDE2Vjh6bTAtMmw4LTVINHpNNCA4VjZ2MTJ6Ii8+PC9zdmc+" ></span>
                    <input class="sub-mail" type="email"  placeholder="Email Address">
                    <input id="button" type="submit" name="Subscribe" title="Subscribe" >
                    

                </form>
            </div>
        </div>
        <svg class="abt-dwn-wave" viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>
    </section>
    <section class="membership" id="membership">
        <h3>Membership Tiya</h3>
        <div class="membership-sub">
            <div class="table"> 
                <h5>MemberShip Fees</h5>
                <table>
                    <tr class="table-head">
                        <th class="t1" >yearly access</th>
                        <th>T1 $420</th>
                        <th>TT2 $640</th>
                        <th class="t4">T3 $860</th>
                    </tr>
                    <tr>
                        <td>Golf Insurance</td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                    </tr>
                    <tr>
                        <td>Club Facilities</td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                    </tr>
                    <tr>
                        <td>Country Club</td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGZpbGw9IiNlYTUzNTMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTggMWE3IDcgMCAxIDAgMCAxNEE3IDcgMCAwIDAgOCAxbTIuNjQ2IDMuNjQ2TDggNy4yOTNMNS4zNTQgNC42NDZsLS43MDguNzA4TDcuMjkzIDhsLTIuNjQ3IDIuNjQ2bC43MDguNzA4TDggOC43MDdsMi42NDYgMi42NDdsLjcwOC0uNzA3TDguNzA3IDhsMi42NDctMi42NDZ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                    </tr>
                    <tr>
                        <td>Weekend Seasonal</td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGZpbGw9IiNlYTUzNTMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTggMWE3IDcgMCAxIDAgMCAxNEE3IDcgMCAwIDAgOCAxbTIuNjQ2IDMuNjQ2TDggNy4yOTNMNS4zNTQgNC42NDZsLS43MDguNzA4TDcuMjkzIDhsLTIuNjQ3IDIuNjQ2bC43MDguNzA4TDggOC43MDdsMi42NDYgMi42NDdsLjcwOC0uNzA3TDguNzA3IDhsMi42NDctMi42NDZ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                    </tr>
                    <tr>
                        <td>Premium Courses</td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGZpbGw9IiNlYTUzNTMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTggMWE3IDcgMCAxIDAgMCAxNEE3IDcgMCAwIDAgOCAxbTIuNjQ2IDMuNjQ2TDggNy4yOTNMNS4zNTQgNC42NDZsLS43MDguNzA4TDcuMjkzIDhsLTIuNjQ3IDIuNjQ2bC43MDguNzA4TDggOC43MDdsMi42NDYgMi42NDdsLjcwOC0uNzA3TDguNzA3IDhsMi42NDctMi42NDZ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGZpbGw9IiNlYTUzNTMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTggMWE3IDcgMCAxIDAgMCAxNEE3IDcgMCAwIDAgOCAxbTIuNjQ2IDMuNjQ2TDggNy4yOTNMNS4zNTQgNC42NDZsLS43MDguNzA4TDcuMjkzIDhsLTIuNjQ3IDIuNjQ2bC43MDguNzA4TDggOC43MDdsMi42NDYgMi42NDdsLjcwOC0uNzA3TDguNzA3IDhsMi42NDctMi42NDZ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                    </tr>
                    <tr>
                        <td>Pro's Networking</td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGZpbGw9IiNlYTUzNTMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTggMWE3IDcgMCAxIDAgMCAxNEE3IDcgMCAwIDAgOCAxbTIuNjQ2IDMuNjQ2TDggNy4yOTNMNS4zNTQgNC42NDZsLS43MDguNzA4TDcuMjkzIDhsLTIuNjQ3IDIuNjQ2bC43MDguNzA4TDggOC43MDdsMi42NDYgMi42NDdsLjcwOC0uNzA3TDguNzA3IDhsMi42NDctMi42NDZ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGZpbGw9IiNlYTUzNTMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTggMWE3IDcgMCAxIDAgMCAxNEE3IDcgMCAwIDAgOCAxbTIuNjQ2IDMuNjQ2TDggNy4yOTNMNS4zNTQgNC42NDZsLS43MDguNzA4TDcuMjkzIDhsLTIuNjQ3IDIuNjQ2bC43MDguNzA4TDggOC43MDdsMi42NDYgMi42NDdsLjcwOC0uNzA3TDguNzA3IDhsMi42NDctMi42NDZ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                        <td><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwYWIyMGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4YTkgOSAwIDAgMCAwIDE4bS0uMjMyLTUuMzZsNS02bC0xLjUzNi0xLjI4bC00LjMgNS4xNTlsLTIuMjI1LTIuMjI2bC0xLjQxNCAxLjQxNGwzIDNsLjc3NC43NzR6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="></td>
                    </tr>
                </table>
                </div>
                <div class="form">
                    <h5>Please join us!</h5>
                    <form>
                    <h4>Become a member</h4>
                    <div>
                        <input type="text" name="Name" id="name" placeholder="Your Name">
                    </div>
                    <div>
                        <input type="email" name="Email" id="mail" placeholder="Enter Email">
                    </div>
                    <div>
                        <textarea name="Comments" id="comments" placeholder="Comments"></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Submit">
                    </div>
                    </form>
                </div>
            </div>
    </section>
    <section class="Events" id="events">
        <h2>Upcoming Events</h2>
        <div class="events-main">   
            <div class="Events-sub">
                <div class="main-date"><div class="dte">24</div><div class="mon">Feb 28</div></div>
                <div class="img-main">
                    <div>
                        <a href="https:/www.google.com" target="_blank">
                            <img src="images/professional-golf-player.jpg" alt="">
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                </div>
                <div class="event-contents">
                    <div id="line">
                        <h3>Private activities</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="event-content-text">
                        <div>
                            <div class="loc">
                                <div>Location:</div>
                                <p>National Center, NYC</p>
                            </div>
                            <div class="loc">
                                <div >Ticket:</div>
                                <p>$250</p>
                            </div>
                        </div>
                            <div>
                            <a href="https://www.facebook.com" target="_blank">Subscribe</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div>   
            <div class="Events-sub" id="active">
                <div class="main-date"><div class="dte">28</div><div class="mon">Feb 28</div></div>
                <div class="img-main">
                    <div>
                        <a href="https://www.google.com" target="_blank">
                            <img src="images/girl-taking-selfie-with-friends-golf-field.jpg" alt="">
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                </div>
                <div class="event-contents">
                    <div id="line">
                        <h3>Group tournament activities</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="event-content-text">
                        <div>
                            <div class="loc">
                                <div>Location:</div>
                                <p>National Center, NYC</p>
                            </div>
                            <div class="loc">
                                <div >Ticket:</div>
                                <p>$350</p>
                            </div>
                        </div>
                            <div>
                            <a href="https://www.facebook.com" target="_blank">Subscribe</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <footer id="contact">
        <div class="foot-sub">
            <form class="footer-form">
                <h1>Contact Tiya</h1>
                <div class="row-inputs">
                    <input type="text" name="text" id="footer-name" placeholder="your name">
                    <input type="email" name="email" id="footer-mail" placeholder="your email">
                </div>
                <textarea name="comment" id="footer-area" placeholder="Message"></textarea>
                <input id="foot-submit" type="submit" value="submit">
            </form>
            <div class="world">
                
                <div class="world-sub">
                    <div class="world-addrs">
                        <div>London, United Kingdom</div>
                        <div>(020) 010-020-0340</div>
                        <div>info@company.com</div>
                    </div>
                    <div class="world-map">
                        <a href="#" id="footer-link">Directions</a>
                    </div>
                </div>
                <img class="foot-img" src="images/WorldMap.svg">
            </div>
        </div>
        <div class="footer-second">
            <div class="company-name">
                <div class="footer-logo"><a class="logo" href="#"><img src="images/logo.png"><span id="logo"    class="textlogo">Logo <br><small>golf club</small> </span> </a></div>
            </div>
            <div class="footer-joinus">
                <h3>Join Us</h3>
                <div class="timing-content">
                    <div class="dte-time">
                        <div><b>Mon-Fri</b></div>
                        <div><time datetime="06">06:00AM</time>- <time datetime="06">06:00PM</time></div>
                    </div>
                    <div class="dte-time">
                        <div><Sat-Sun><b>Sat-sun</b></Sat-Sun></div>
                        <div><time datetime="06">06:30AM</time>- <time datetime="08">08:00PM</time></div>
                    </div>
                        <div class="cc">Copyright © 2048 Tiya Golf Club</div>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-icons">
                    <div><i class="fa fa-twitter"></i></div>
                    <div><i class="fa fa-instagram"></i></div>
                    <div><i class="fa fa-whatsapp"></i></div>
                </div>
                <div class="auth">
                    <div>Design:</div>
                    <span>Dhamodharan</span>
                </div>
            </div>
            
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#81B29A" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
        <!-- <div class="footer-wave"><img src="images/footer-wave.svg"></div> -->
    </footer>
</body>
</html>